<div id="app-welcome">
  <% if current_user %>
    <h1 class="page-title">- You are Authenticated -</h1>
    <p id="enter">
      <%= link_to "Logout", "/logout" %>
    </p>
  <% else %>
    <h1 class="page-title">the Authenticated</h1>
    <p id="enter">
      <%= link_to "Join", "/join" %>
      or
      <%= link_to "reAuth", "/authenticate" %>
    </p>
  <% end %>
</div>
