<div id="app-welcome">
  <h1 class="page-title">the Authenticated</h1>
  <p id="enter">
    <% if current_user %>
      <%= link_to "Logout", "/logout" %>
    <% else %>
      <%= link_to "Join", "/join" %>
      or
      <%= link_to "Authenticate", "/authenticate" %>
    <% end %>
  </p>
</div>
